body{
    background-color: #63B0D2;
}
.login{
    background-color: white;
    padding: 20px;
    width: 60%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
    justify-self: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
}
.profile{
    margin-left: -100px;
}
.login img{
    width: 200px;
    height: 200px;
    margin-left: -70px;
}
.form input{
    
    display: flex;
    margin-top: 20px;
    width: 180%;
    height: 5vh;
    border-radius: 15px;
    border: 1px solid grey;
    padding: 4px;
}
.form button{
    width: 180%;
    height: 5vh;
    margin-top: 20px;
    border-radius: 15px;
    border: none;
    background-color: #63B0D2;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}
.form button a{
    text-decoration: none;
    color: white;
}
.form{
    margin-left: -400px;
}
.not_have_account p a{
    text-decoration: none;
    font-size: 10px;
    
}

.password-container {
    position: relative;
    width: 250px;
}


.password-container img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    left: 500px;
    cursor: pointer;
}
